span{
  font-weight: normal;
}

.App {
  text-align: center;
}

.App-header{
  background-color: #008CBA;
  display: flex;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 40px;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.Body{
  background-color: white;
  color: black;
  width: 66vw;
  padding-left: 4vw;
  display: flex;
  flex-flow:column;
}

.Buttons{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.button-arrow{
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-middle{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}

.name{
  text-decoration: underline;
  text-decoration-color: #008CBA;
}

.counter-container{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.counter{
  font-weight: bold;
}

.bold{
  font-weight: bold;
}
